/*Link para fontes*/
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Honk:MORF@15&family=Monsieur+La+Doulaise&display=swap');

/*Fontes escolhidas:
font-family: "Monsieur La Doulaise", cursive;
font-family: "Honk", system-ui;
font-family: "Aladin", system-ui;*/

/*Link para fontes*/
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&display=swap');

/*Fontes escolhidas:
font-family: "Bitcount Prop Double Ink", system-ui;*/


/*Link para ícone*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


.navbar-topo{
    background-color:rgb(165, 102, 134);
    color: black; /*cor do texto*/
    text-align: center; /*Alinhando o texto*/
    display: flex;
    align-items: center;
    padding: 15px 40px;
    justify-content: space-between;
}

.menu-topo a{
   color: white;
}



header .logo{
   padding: 10px; /*padding: margem interna d caixa*/
   width: 30%;
   margin-right: 10px;
}

header .logo img{
   width: 100%; /* Atura em relação ao tamanho da caixa, decontando o paidding (margem interna)*/
}

header .titulo{
   background-color: rgb(226, 43, 198);
   padding: 10px;  /*padding: margem interna d caixa*/
   width: 70%;
}

.menu-topo{
   list-style: none;
   display: flex;
   gap: 20px /*Distancia entre os itens*/
}

body{
    margin: 10px; /*tamanho da margem*/
    font-family: Georgia, 'Times New Roman', Times, serif; /*Fonte de Texto padrão*/
     background-color: antiquewhite;
}
/*Centralizar o site*/

/*O ponto conversa com uma class, no caso container*/
.container{ /*Ref ao topo da pág*/
    width: 100%;
    margin:auto
}


.conteudo{  /* ativa o flexbox(deixa um do lado do outro)*/
    display: flex;
}

.menu-lateral{
   flex: 1;
    width: 30%;
    background-color: rgb(166, 106, 169);
    color:black;
    display: flex;
 }

 .menu-lateral ul{
   list-style: none; /*estilo da lista, so caso sem nada*/
   padding: 0;
   margin: 0;
   display: block;

 }

 .menu-lateral li{
   border-bottom: 1px solid rgb(120, 94, 110)
 }

 .menu-lateral a{
   display: block; /*Ocupa todo espaço disponível*/
   padding: 10px;
   color:aqua;
   text-decoration: none;
 }

 .menu-lateral a:hover{
   background-color: blueviolet;
 }

 main{
   flex: 4; /*Divisão entre os componentes dentro da tela*/
    width: 70%;
    background-color: aqua; /*cor de fundo*/
    color: black; /*cor da fonte*/ 
    display: flex;
 }

 footer{
    background-color: rgb(255, 255, 255); /*cor de fundo*/
    color: rgb(120, 94, 110); /*cor da fonte*/ 
    text-align: center; /*Alinhando texto*/
 }

 header, main, footer {
    padding:20px;
 }

main section{
padding: 10px; /*padding: margem interna da caixa*/
width: 80%;
text-align: justify;
flex:3;
background-color: #0045A1;
 }

main aside{
background-color: rgb(122, 105, 169);
padding: 10px; /*padding: margem interna da caixa*/
width: 20%;
margin-left: 20px;
flex:1;
 }

 